<div class="well">
  <h3>You have no pins for this board yet</h3>
  <%= render "shared/add_pin" %>
</div>
<!--  bootstrap well is an effect to give an inset effect.
this partial is the display for when a board has no pins

it calls the partial _add_pin which gives a blue-button link to new_pin_path-->