<h1>Edit board / <small><%= @board.name %></small</h1>

<%= render 'form' %>

<%= link_to 'Show', @board %> |
<%= link_to 'Back', boards_path %>

<!-- view to Edit an individual board
puts a h1-sized caption with "Edit board /" followed by title of board added in smaller type

renders a form partial

has buttons to show the board and go back to the board index -->
