<h1>Listing boards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @boards %>

<%= link_to 'New Board', new_board_path %>

<!-- view to see the index of boards
creates a table, with table headings Name, User, blanks

then display the board collection, calling _board partial on each element of the collection to generate a line of the table.

then give a "New Board" link allowing create an new board.
 -->